* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }

  .clearfix::after{
    content: "";
    display: table;
    clear: both;
  }
  .container{
    width: 80%;
    margin: auto;
    margin-top: 10px;
  }
  ul{
      margin-left: -14px;
      margin-top: 20px;
      margin-bottom: 20px;
  }

  li{
      display: inline-block;
    }

  a{
    padding: 14px;
    color: #bdbdbd;
    text-decoration: none;
  }
  .logo{
      width: 163;
      height: 69;
  }

  .float-left {
    float: left;
  }
  
  .ocra{
      position: relative;
      height: 600;
      background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .5)), url(../img/banner.jpg);
      border-radius: 10px;
  }
  .ocra-div{
      width: 50%;
      position: absolute;
      left: 40px;
      bottom: 60px;
  }

  .ocra-div-titolo{
      color: white;
      font-size: 22px;
  }

  .color-white{
    color: white;
  }

  .color-lightgrey{
      color: rgb(179, 178, 178);
  }
  img{
      width: 100%;
      filter: brightness(90%);
      border-radius: 10px;
      height: 150px;
  }

 .main-title-margine{
     margin-top: 20px;
     margin-bottom: 20px;
 }
  
  .main-title{
      font-size: 30px;
  }

  .width-aside{
      width: 25%;
  }

  .width-article{
      width: calc(50% - 30px);
      margin: 0 15px;
  }
  h4{
      font-weight: lighter;
      margin-top: 10px;
      margin-bottom: 5px;
  }

  footer{
   text-align: center;
   margin-top: 20px;
   margin-bottom: 20px;
}